.menu-link,
.menu-title {
    font-size: 14px !important;
}

.menu-link.active {
    background-color: transparent !important;
    color: #D20A11 !important;
    border-radius: 0 !important;
}

.menu-link.active .menu-title {
    color: #D20A11 !important;
    font-weight: 600 !important;
}

.menu-link.active .menu-icon i {
    color: #D20A11 !important;
}

/* Hover state (merah terang) */
.menu-link:hover:not(.active) {
    background-color: #fde8e9 !important;
    color: #D20A11 !important;
    border-radius: 12px !important;
}

.menu-link:hover:not(.active) .menu-title {
    color: #D20A11 !important;
}

.menu-link:hover:not(.active) .menu-icon i {
    color: #D20A11 !important;
}

.menu-link:hover:not(.active) .menu-bullet .bullet {
    background-color: #D20A11 !important;
}

.menu-link.active .menu-bullet .bullet {
    background-color: #D20A11 !important;
}

.menu-link .fa-angle-down,
.menu-link .fa-angle-up {
    transition: transform 0.3s cubic-bezier(.4, 2, .6, 1);
}

.menu-link[aria-expanded="true"] .fa-angle-down,
.menu-link.active .fa-angle-down {
    transform: rotate(-180deg);
}

.menu-link.active {
    box-shadow: none !important;
}

[data-kt-app-layout] .menu-column>.menu-item>.menu-link,
[data-kt-app-layout] .menu-column>.menu-item>.menu-title {
    font-weight: 600 !important;
    font-size: 1.1rem !important;
}

[data-kt-app-layout] .menu ul.menu .menu-link,
[data-kt-app-layout] .menu ul.menu .menu-title {
    font-weight: normal !important;
    font-size: 14px !important;
}

.menu-icon i {
    font-size: 1.3rem !important;
    line-height: 1.2 !important;
}

.menu-link {
    min-height: 48px;
    padding-top: 10px;
    padding-bottom: 10px;
}
